img {  
    
    height: auto;
    opacity: 0.9;
    margin-top: 0px;
          
}

.center {
    position: relative;
    margin-top: -23%;
    width: 100%;
    text-align: center;
    font-size: 64px;
    font-family: Helvetica;
    color: white;
}

.center1 {
    position: relative;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: Helvetica;
    color: black;
}

.box {
    position: relative;
    width: 80%;
	height: 30%;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
    box-shadow: 2px 2px 2px #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; 
    padding: 20px; 
}

.paragraphtitle {
	width: auto;
    margin: auto;
	height: auto;
	font-family: Helvetica;
	font-size: 36px;
	color: #373a3c;
	color: var(--charcoal-grey);
    text-align: center;
    padding-bottom: 2%;
   
}

.bodyparagraph {
	width: 70%;
	height: auto;
    margin: auto;
	font-family: Helvetica;
	font-size: 18px;
	color: #373a3c;
	color: var(--charcoal-grey);
    padding-top: 1%;
    margin-bottom: 3%;
               
}
.second-forum-conomi {
     position: relative;
	width: 278px;
	height: 44px;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.1;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#card {
    position:relative;
    width: auto;
	height: 200px;
    margin-top: 10%;
    min-width: 240px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#tight  {
    position:relative;
    width: auto;
	height: auto;
    margin-top: 10%;
    min-width: 240px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}



p {
    text-indent: 50px;
}